@import "../../scss/abstracts/variables.scss";

.home {
    h2 {
        font-size: 29px;
    }
}

.app {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}